.Raffle{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.raffled{
    position: relative;
    overflow: hidden;
    text-align: left;
    float: left;
    clear: both;
}
.raffled::before,
.raffled::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 5px;
   
}
.raffled::before{
    background: rgba(255, 255, 255, 0.2);
    animation: reveal 1.5s ease forwards;
}
.raffled::after{
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    animation: base 1.5s ease forwards;
}

@keyframes reveal{
    0%{
        transform: translateX(-200%);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(111%);
    }
}

@keyframes base{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}


a {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1; 
}
a:hover {
    animation: animate 8s linear infinite;
    text-decoration: none;
    color: #fff;
}
a:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
a:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
     background-position: 0%;
    }
    100% {
     background-position: 400%;
    }
}


